.task-title {
    font-size: 32px;
    font-weight: 500;
    color: #E3D026;
}

.task-description {
    margin-left: 1rem;
    margin-right: 1rem;
}

.task-actions > * {
    margin: 0.5rem !important;
}

.MuiPaper-root {
    cursor: pointer;
    width: 450px;
}